.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo {
  font-size: 2.5rem;
  color: #ffb84d;
}

.navigation {  
  width: 100%;
  height: 6rem;
  background-color: #f3f3f3;
  padding-top: 1rem;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.08);
}

.navigation_container1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.7rem;
}

.navigation_container2 {
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline;
  font-size: 1.5rem;
  line-height: 1.18;
  padding-left: 3rem;
  padding-right: 3rem;
}

h5 {
  font-size: 0.2rem;
}

.login_phrase {
  color: #9d9d9d;
}

.login_button {
  color: white;
  font-size: 1.3rem;
  height: 3rem;
  width: 16rem;
  border-radius: 0.7rem;
  box-shadow: 0.5px 0.5px 0.5px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffb84d;
}

.link {
  text-decoration:none;
  color: black;
}