.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.main_text {
  text-align: left;
  font-size: 1rem;
  color: #ffb84d;
  margin-bottom: -0.2rem;
}

.main_line {
  border: 1px solid #ffb84d;
  width: 40rem;
}

.select_box {
  padding-left: 1.2rem;
  /* text-align-last:center;  */
  width: 7.2rem;
  height: 2.5rem;
  font-size: 0.9rem;
  border-color: #c7c7c7;
  color: #868686;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background: url('./img/select_button.png') no-repeat 92% 50%;
  background-size: 1rem;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  outline: none;
}

/* container CSS */

.container {
  display: table;
  vertical-align: middle;
  margin: auto;
  width: 80rem;
}

.box {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  height: 90vh;
  width: 40rem;
  display: table-cell;
  vertical-align: top;
}

/* Nav bar CSS */

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #ffb84d;
}
.nav_background_color {
  background-color: #f3f3f3;
}

.navigation {
  display: table;
  vertical-align: middle;
  background-color: #f3f3f3;
  width: 80rem;
  margin: auto;
}

.navigation_container {
  display: table-cell;
  vertical-align: middle;
  width: 50rem;
}

h2 {
  color: #939393;
}

h5 {
  font-size: 0.2rem;
}

.login_phrase {
  color: #9d9d9d;
}

.login_button {
  color: white;
  font-size: 1.3rem;
  height: 3rem;
  width: 16rem;
  border-radius: 0.7rem;
  box-shadow: 0.5px 0.5px 0.5px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffb84d;
  outline: none;
}

.link {
  text-decoration:none;
  color: black;
}

/* notice CSS */

.notice {
  color: #ffb84d;
  font-size: 0.8rem;
  padding-left: 2rem;
  text-align: left;
  width: 30rem;
  height: 2rem;
  border-radius: 10.5px;
  box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #e6e6e6;
  background-color: #ffffff;
  margin: auto;
}

.notice_position {
  position: relative;
  top: -0.45rem;
}
.notice_icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

/* Table CSS */

.table_container {
  border: solid 0.5px #e6e6e6;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
  width: 30rem;
  height: 42rem;
  margin: auto;
  margin-top: 1rem;
}

.timetable_tab {
  margin-top: -0.1rem;
  margin-left: 1rem;
  text-align: left;
  font-size: 0.8rem;
  color: #868686;
  
}

.timetable {
  vertical-align: middle;
  margin: auto;
  border: 0.5px solid #cccccc;
  border-radius: 1rem;
  overflow: hidden;
  border-spacing: 0;
}

.timetable_header {
  background-color: #fffaf3;
  width: 5rem;
  height: 2rem;
  border-left: 0.5px solid #cccccc;
  border-top: 0.5px solid #cccccc;
}

.tab_icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: -0.4rem;
}

.timetable_time {
  width: 4rem;
  height: 1.9rem;
  border-left: 0.1px solid #cccccc;
  border-top: 0.1px solid #cccccc;
}

.timetable_body {
  height: 1.9rem;
  border-left: 0.1px solid #cccccc;
  border-top: 0.1px solid #cccccc;
}

/* Button CSS */

.button_container {
  display: table;
  width: 32rem;
  margin: auto;
  margin-top: 1rem;
}

.button_container_cell {
  display: table-cell;
}

.store_button {
  display: table-cell;
  width: 14rem;
  height: 2.5rem;
  background-color: #ffb84d;
  color: white;
  border-radius: 1rem;
  outline: none;
}

.share_button {
  display: table-cell;
  width: 14rem;
  height: 2.5rem;
  background-color: #f3f3f3;
  color: black;
  border-radius: 1rem;
  outline: none;
}

/* Find Lecture CSS */

.find_lecture_container {
  margin-top: -1rem;
  text-align: left;
}

.find_lecture_textbox {
  margin-bottom:-1rem;
  width: 38rem;
  height: 2rem;
  border: none;
  color: #979797;
  border-radius: 1rem;
  font-size: 1rem;
  background-color: #f3f3f3;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
}

.search_icon {
  position: absolute;
  margin-top: 0.6rem;
  margin-left: -3rem;
  width: 1rem;
  height: 1rem;
}

.find_lecture_container_table {
  display: table;
  margin: auto;
  vertical-align: middle;
}

.find_lecture_container_table_cell {
  display: table-cell;
}

.find_lecture_table_container {
  width: 40rem;
  height: 20rem;
  border: solid 0.5px #dfdfdf;
  border-radius: 5px;
  overflow-y: scroll;
}

.find_lecture_header_table {
  vertical-align: middle;
  text-align: center;
  padding-left: 0.3rem;
  padding-right: 1rem;
  width: 38rem;
  margin: auto;
  margin-top: 0.5rem;
  border: 0.5px solid #cccccc;
  background-color: #f3f3f3;
  border-radius: 0.7rem;
}

.find_lecture_header {
  position: relative;
}
.find_lecture_header:after{
  position: absolute;
  border-right: 1px solid #cecece; 
  content: "";
  top: 15%;
  bottom: 15%;
  right: -1px;
}

.find_lecture_body_table {
  vertical-align: middle;
  text-align: center;
  padding-left: 0.3rem;
  padding-right: 1rem;
  width: 38rem;
  margin: auto;
}

/* add_custom CSS */

.add_custom_container {
  text-align: left;
}

.add_custom_container_table {
  display: table;
  vertical-align: middle;
}

.add_custom_container_table_cell {
  display: table-cell;
}

.add_custom_hr {
  margin-bottom:-0.5rem;
}

.add_custom_select {
  padding-left: 0.7rem;
  width: 5.5rem;
}

.add_custom_textbox {
  margin-left: 0.2rem;
  width: 14rem;
  height: 2rem;
  margin-right: 1rem;
  color: #d2d2d2;
}

.add_custom_textbox::placeholder {
  padding-left: 0.2rem;
  color: #d2d2d2;
}

.add_custom_button {
  width: 5rem;
  height: 2.5rem;
  border-radius: 1rem;
  background-color: #ffb84d;
  color: white;
  box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.16);
}

/* basket */

.basket_container {
  text-align: left;
}

.basket_table {
  width: 40rem;
  height: 12rem;
  border: solid 0.5px #dfdfdf;
  border-radius: 5px;
  overflow: scroll;
}